# Student Performance Evaluation Analysis
## by Olusola Timothy Ogundepo

## Introduction
PISA is a survey of students skills and knowledge as they approach the end of compulsory education. It is not a conventional school test. Rather than examining how well students have learned the school curriculum, it looks at how well prepared they are for life beyond school.
Around 510,000 students in 65 economies took part in the PISA 2012 assessment of reading, mathematics and science representing about 28 million 15-year-olds globally.

## Preliminary Wrangling

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below. Try and motivate your exploration goals through this section.

In [2]:
# Dict of all the needed columns
colname = {
    "STIDSTD": "stud_id",
    "ST03Q02": "stud_yob",
    "NC": "country",
    "ST04Q01": "gender",
    "ST01Q01": "intl_grade",
    "ST08Q01": "late_for_school",
    "ST09Q01": "skip_day",
    "ST115Q01":"skip_class",
    "ST26Q02": "possess_room",
    "ST26Q03": "posses_study_place",
    "ST26Q04": "possess_computer",
    "ST26Q06": "possess_internet",
    "ST26Q10": "possess_textbook",
    "ST29Q06": "math_interest",
    "ST42Q01": "math_anxiety",
    "MATBEH": "math_behaviour",
    "PV1MATH": "math_score",
    "PV1READ": "read_score",
    "PV1SCIE": "science_score",
    "ST44Q03": "failure_attr",
    "ST13Q01": "mother_sch_lvl",
    "ST17Q01": "father_sch_lvl",
    "ST15Q01": "mother_job_status",
    "ST19Q01": "father_job_status",
    "TCHBEHFA": "teacher_behaviour",
    "TEACHSUP": "teacher_support",
    "BFMJ2": "father_earning_pct",
    "BMMJ1": "mother_earning_pct"
}

needed_cols = colname.keys()

In [3]:
pisa_df = pd.read_csv('pisa2012/pisa2012.csv', encoding='ANSI', nrows=2e5, usecols=needed_cols, low_memory=False)

In [4]:
pisa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 28 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NC        200000 non-null  object
 1   STIDSTD   200000 non-null  int64
 2   ST01Q01   200000 non-null  int64
 3   ST03Q02   200000 non-null  int64
 4   ST04Q01   200000 non-null  object
 5   ST08Q01   196367 non-null  object
 6   ST09Q01   196385 non-null  object
 7   ST115Q01  196481 non-null  float64
 8   ST13Q01   186541 non-null  object
 9   ST15Q01   191405 non-null  object
 10  ST17Q01   179712 non-null  object
 11  ST19Q01   184470 non-null  object
 12  ST26Q02   194627 non-null  object
 13  ST26Q03   193172 non-null  object
 14  ST26Q04   194277 non-null  object
 15  ST26Q06   194110 non-null  object
 16  ST26Q10   192970 non-null  object
 17  ST29Q06   128594 non-null  object
 18  ST42Q01   127967 non-null  object
 19  ST44Q03   127963 non-null  object
 20  BFMJ2     169195 non-null  float64
 21  BMMJ1     157717 non-null  float64
 22  MATBEH    128231 non-null  float64
 23  TCHBEHFA  128395 non-null  float64
 24  TEACHSUP  129264 non-null  float64
 25  PV1MATH   200000 non-null  float64
 26  PV1READ   200000 non-null  float64
 27  PV1SCIE   200000 non-null  float64
dtypes: float64(9), int64(3), object(16)
memory usage: 42.7+ MB

In [5]:
pisa_df.head()

,NC,STIDSTD,ST01Q01,ST03Q02,ST04Q01,ST08Q01,ST09Q01,ST115Q01,ST13Q01,ST15Q01,...,ST42Q01,ST44Q03,BFMJ2,BMMJ1,MATBEH,TCHBEHFA,TEACHSUP,PV1MATH,PV1READ,PV1SCIE
0,Albania,1,10,1996,Female,None,None,1.0,<ISCED level 3A>,"Other (e.g. home duties, retired)",...,Agree,Slightly likely,76.49,79.74,0.6426,1.3625,1.68,406.8469,249.5762,341.7009
1,Albania,2,10,1996,Female,One or two times,None,1.0,<ISCED level 3A>,Working full-time <for pay>,...,NaN,Slightly likely,15.35,23.47,1.4702,NaN,NaN,486.1427,406.2936,548.9929
2,Albania,3,9,1996,Female,None,None,1.0,"<ISCED level 3B, 3C>",Working full-time <for pay>,...,NaN,Likely,22.57,NaN,0.9618,NaN,NaN,533.2684,401.2100,499.6643
3,Albania,4,9,1996,Female,None,None,1.0,"<ISCED level 3B, 3C>",Working full-time <for pay>,...,NaN,NaN,14.21,NaN,NaN,0.7644,1.68,412.2215,547.3630,438.6796
4,Albania,5,9,1996,Female,One or two times,None,2.0,She did not complete <ISCED level 1>,Working part-time <for pay>,...,Strongly agree,Likely,80.92,NaN,1.8169,0.7644,0.11,381.9209,311.7707,361.5628

In [6]:
pisa_df.shape

(200000, 28)

### What is the structure of your dataset?

> The pisa dataset contains over 400,000 responses from different students with more than 600 features. But for the purpose of this analysis and visualization, I will be using 200,000 sample of the dataset with 29 features. The features are of variety of format such as nominal, ordinal, discrete, continuous, text etc.,

### What is/are the main feature(s) of interest in your dataset?

* Student information and score in academic session.
* Parent schooling information and career status.
* Teacher contribution and support.

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

* Student information and score in academic session
    * Student ID (STIDSTD)
    * Birth year (ST03Q02)
    * Birth month (ST03Q01)
    * Country (NC)
    * Gender (ST04Q01)
    * International Grade (ST01Q01)
    * Truancy - Late for School (ST08Q01)
    * Truancy - Skip whole school day (ST09Q01)
    * Truancy - Skip classes within school day (ST115Q01)
    * Possessions - own room (ST26Q02)
    * Possessions - study place (ST26Q03)
    * Possessions - computer (ST26Q04)
    * Possessions - Internet (ST26Q06)
    * Possessions - textbooks (ST26Q10)
    * Math Interest - Interested (ST29Q06)
    * Math Anxiety - Worry That It Will Be Difficult (ST42Q01)
    * Mathematics Behaviour (MATBEH)
    * Mathematics Exam score (PV1MATH)
    * Reading Exam score (PV1READ)
    * Science Exam score (PV1SCIE)
    * Attributions to Failure - Teacher Did Not Explain Well (ST44Q03)
    
* Parent schooling information and career status
    * Mother<Highest Schooling> (ST13Q01)
    * Father<Highest Schooling> (ST17Q01)
    * Mother Current Job Status (ST15Q01)
    * Father Current Job Status (ST19Q01)
    * Father Occupation Status (BFMJ2)
    * Mother Occupation Status (BMMJ1)

 * Teacher contribution and support
    * Teacher Behaviour (TCHBEHFA)
    * Teacher Support (TEACHSUP)

### Rename all columns to their appropriate names

In [7]:
pisa_df.rename(columns=colname, inplace=True)

After renaming all columns of the dataset

In [8]:
pisa_df.loc[:4, :'father_job_status']

,country,stud_id,intl_grade,stud_yob,gender,late_for_school,skip_day,skip_class,mother_sch_lvl,mother_job_status,father_sch_lvl,father_job_status
0,Albania,1,10,1996,Female,None,None,1.0,<ISCED level 3A>,"Other (e.g. home duties, retired)",<ISCED level 3A>,Working part-time <for pay>
1,Albania,2,10,1996,Female,One or two times,None,1.0,<ISCED level 3A>,Working full-time <for pay>,<ISCED level 3A>,Working full-time <for pay>
2,Albania,3,9,1996,Female,None,None,1.0,"<ISCED level 3B, 3C>",Working full-time <for pay>,<ISCED level 3A>,Working full-time <for pay>
3,Albania,4,9,1996,Female,None,None,1.0,"<ISCED level 3B, 3C>",Working full-time <for pay>,<ISCED level 3A>,Working full-time <for pay>
4,Albania,5,9,1996,Female,One or two times,None,2.0,She did not complete <ISCED level 1>,Working part-time <for pay>,"<ISCED level 3B, 3C>",Working part-time <for pay>

In [9]:
pisa_df.loc[:4, 'possess_room':]

,possess_room,posses_study_place,possess_computer,possess_internet,possess_textbook,math_interest,math_anxiety,failure_attr,father_earning_pct,mother_earning_pct,math_behaviour,teacher_behaviour,teacher_support,math_score,read_score,science_score
0,No,Yes,No,No,Yes,Agree,Agree,Slightly likely,76.49,79.74,0.6426,1.3625,1.68,406.8469,249.5762,341.7009
1,Yes,Yes,Yes,Yes,Yes,Agree,NaN,Slightly likely,15.35,23.47,1.4702,NaN,NaN,486.1427,406.2936,548.9929
2,Yes,Yes,Yes,Yes,Yes,Strongly agree,NaN,Likely,22.57,NaN,0.9618,NaN,NaN,533.2684,401.2100,499.6643
3,Yes,Yes,Yes,Yes,Yes,NaN,NaN,NaN,14.21,NaN,NaN,0.7644,1.68,412.2215,547.3630,438.6796
4,Yes,No,Yes,Yes,Yes,Strongly agree,Strongly agree,Likely,80.92,NaN,1.8169,0.7644,0.11,381.9209,311.7707,361.5628

### Identify and Fix issues

#### Data type of all features

In [10]:
pisa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   country             200000 non-null  object
 1   stud_id             200000 non-null  int64
 2   intl_grade          200000 non-null  int64
 3   stud_yob            200000 non-null  int64
 4   gender              200000 non-null  object
 5   late_for_school     196367 non-null  object
 6   skip_day            196385 non-null  object
 7   skip_class          196481 non-null  float64
 8   mother_sch_lvl      186541 non-null  object
 9   mother_job_status   191405 non-null  object
 10  father_sch_lvl      179712 non-null  object
 11  father_job_status   184470 non-null  object
 12  possess_room        194627 non-null  object
 13  posses_study_place  193172 non-null  object
 14  possess_computer    194277 non-null  object
 15  possess_internet    194110 non-null  object
 16  possess_textbook    192970 non-null  object
 17  math_interest       128594 non-null  object
 18  math_anxiety        127967 non-null  object
 19  failure_attr        127963 non-null  object
 20  father_earning_pct  169195 non-null  float64
 21  mother_earning_pct  157717 non-null  float64
 22  math_behaviour      128231 non-null  float64
 23  teacher_behaviour   128395 non-null  float64
 24  teacher_support     129264 non-null  float64
 25  math_score          200000 non-null  float64
 26  read_score          200000 non-null  float64
 27  science_score       200000 non-null  float64
dtypes: float64(9), int64(3), object(16)
memory usage: 42.7+ MB

Student id is integer instead of object

In [11]:
# Fix student id type

pisa_df['stud_id'] = pisa_df['stud_id'].astype('str')

In [12]:
# Check student id type after fixed

pisa_df['stud_id'].dtype

dtype('O')

#### Checking the unique items of:

**days skipped in a week**

In [13]:
pisa_df['skip_day'].unique()

array(['None  ', nan, 'One or two times  ', 'Three or four times  ',
       'Five or more times  '], dtype=object)

There exist some trailing spaces which needs to be fixed.

In [14]:
# Fixing the trailing spaces in skip_day col
pisa_df['skip_day'] = pisa_df['skip_day'].str.strip()

In [15]:
# After fixed
pisa_df['skip_day'].unique()

array(['None', nan, 'One or two times', 'Three or four times',
       'Five or more times'], dtype=object)

Number of classes skipped in a week

In [16]:
pisa_df['skip_class'].unique()

array([ 1.,  2.,  3., nan,  4.])

#### Country

In [17]:
pisa_df['country'].unique()

array(['Albania', 'United Arab Emirates ', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria ', 'Brazil ', 'Canada ',
       'Switzerland', 'Chile', 'Colombia ', 'Costa Rica ',
       'Czech Republic ', 'Germany', 'Denmark', 'Spain', 'Estonia',
       'Finland', 'France ', 'United Kingdom (excl.Scotland) ',
       'United Kingdom (Scotland)'], dtype=object)

Some countries have leading or trailing spaces

In [18]:
# Fixing the leading and trailing space
pisa_df['country'] = pisa_df['country'].str.strip()

In [19]:
# After fixed
pisa_df['country'].unique()

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom (excl.Scotland)', 'United Kingdom (Scotland)'],
      dtype=object)

#### Checking for duplicates in the dataset

In [20]:
pisa_df.duplicated().sum()

0

Data has no duplicates

#### Parent school level

In [21]:
# Parent school level columns
p_schlvl_cols = ['mother_sch_lvl', 'father_sch_lvl']

parent_lvl = pisa_df[p_schlvl_cols]

In [22]:
parent_lvl.head()

                          mother_sch_lvl         father_sch_lvl
0                      <ISCED level 3A>       <ISCED level 3A>
1                      <ISCED level 3A>       <ISCED level 3A>
2                  <ISCED level 3B, 3C>       <ISCED level 3A>
3                  <ISCED level 3B, 3C>       <ISCED level 3A>
4  She did not complete <ISCED level 1>   <ISCED level 3B, 3C>

In [23]:
parent_lvl[p_schlvl_cols[0]].unique()

array(['<ISCED level 3A> ', '<ISCED level 3B, 3C> ',
       'She did not complete <ISCED level 1> ', '<ISCED level 2> ',
       '<ISCED level 1> ', nan], dtype=object)

In [24]:
parent_lvl[p_schlvl_cols[1]].unique()

array(['<ISCED level 3A> ', '<ISCED level 3B, 3C> ', '<ISCED level 2> ',
       'He did not complete <ISCED level 1> ', nan, '<ISCED level 1> '],
      dtype=object)

Parent school level columns have trailing spaces and most school level start and end with < and >. It will be appropriate if the trailing spaces are removed and structure the values correctly e.g., 
* '<ISCED level 3A> ' -> 'ISCED level 3A'
* 'She did not complete <ISCED level 1> ' -> 'She did not complete <ISCED level 1>'

In [25]:
def fix_parent_sch_lvl():
    """Fix all redundant characters in parent school level columns"""
    for col in parent_lvl.columns:
        # Fix trailing spaces
        pisa_df.loc[:, col] = parent_lvl[col].str.strip()
        # fixing redundant characters on school level
        plvl = pisa_df[col].str.extract(r'^<(.*)>$|(.*)')
        pisa_df[col] = plvl.apply(lambda cols: 
                                            cols[1] if cols[0] is np.nan
                                                    else cols[0], axis=1)

In [26]:
fix_parent_sch_lvl()

In [27]:
# After fixing parent school level
pisa_df[p_schlvl_cols[0]].unique()

array(['ISCED level 3A', 'ISCED level 3B, 3C',
       'She did not complete <ISCED level 1>', 'ISCED level 2',
       'ISCED level 1', nan], dtype=object)

In [28]:
pisa_df[p_schlvl_cols[1]].unique()

array(['ISCED level 3A', 'ISCED level 3B, 3C', 'ISCED level 2',
       'He did not complete <ISCED level 1>', nan, 'ISCED level 1'],
      dtype=object)

Parent school levels should be ordered

In [29]:
def school_lvl_order():
    p_lvl = np.array([np.nan, 'She did not complete <ISCED level 1>', 'He did not complete <ISCED level 1>',
                 'ISCED level 1', 'ISCED level 2', 'ISCED level 3A', 'ISCED level 3B, 3C'])
    for col in p_schlvl_cols:
        pisa_df[col] = pd.Categorical(pisa_df[col], categories=p_lvl, ordered=True)

school_lvl_order()

In [30]:
# After correcting the order
pisa_df[p_schlvl_cols[1]].dtype

CategoricalDtype(categories=['nan', 'She did not complete <ISCED level 1>',
                  'He did not complete <ISCED level 1>', 'ISCED level 1',
                  'ISCED level 2', 'ISCED level 3A', 'ISCED level 3B, 3C'],
, ordered=True)

#### Possessions

In [31]:
possession = pisa_df.columns[pisa_df.columns.str.startswith('possess')]
pisa_df[possession].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   possess_room      194627 non-null  object
 1   possess_computer  194277 non-null  object
 2   possess_internet  194110 non-null  object
 3   possess_textbook  192970 non-null  object
dtypes: object(4)
memory usage: 6.1+ MB

In [32]:
pisa_df[possession].head(2)

  possess_room possess_computer possess_internet possess_textbook
0           No               No               No              Yes
1          Yes              Yes              Yes              Yes

To reduce memory usage and internal order, it will be ideal to convert this columns to category with the order of ['No', 'Yes']

In [33]:
def possess_convert():
    order = ['No', 'Yes']
    for col in possession:
        pisa_df[col] = pd.Categorical(pisa_df[col],
                                     categories=order, ordered=True)

possess_convert()

After changing the type

In [34]:
pisa_df[possession].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   possess_room      194627 non-null  category
 1   possess_computer  194277 non-null  category
 2   possess_internet  194110 non-null  category
 3   possess_textbook  192970 non-null  category
dtypes: category(4)
memory usage: 781.9 KB

#### Gender

In [35]:
# making gender to be of category type
pisa_df['gender'] = pisa_df['gender'].astype('category')

#### Math related

In [36]:
math_related = pisa_df.columns[pisa_df.columns.str.startswith('math')]

pisa_df[math_related].head()

    math_interest    math_anxiety  math_behaviour  math_score
0           Agree           Agree          0.6426    406.8469
1           Agree             NaN          1.4702    486.1427
2  Strongly agree             NaN          0.9618    533.2684
3             NaN             NaN             NaN    412.2215
4  Strongly agree  Strongly agree          1.8169    381.9209

In [37]:
for col in math_related[:2]:
    print(f'{col}: ', pisa_df[col].unique())

math_interest:  ['Agree' 'Strongly agree' nan 'Disagree' 'Strongly disagree']
math_anxiety:  ['Agree' nan 'Strongly agree' 'Disagree' 'Strongly disagree']

Nan in both math interest and anxiety columns should be replace with Disagree since the value is not provided.

In [38]:
pisa_df.loc[:, math_related[:2]] = pisa_df[math_related[:2]].fillna('Disagree')

In [39]:
pisa_df[math_related[1]].unique()

array(['Agree', 'Disagree', 'Strongly agree', 'Strongly disagree'],
      dtype=object)

It will be reasonable to place both math interest and anxiety in the following order:
* Strongly disagree
* Disagree
* Agree
* Strongly agree

In [40]:
def order_cat(columns: list):
    """Order all columns scale in the right order"""
    order = ['Strongly disagree', 'Disagree', 'Agree', 'Strongly agree']
    for col in columns:
        pisa_df[col] = pd.Categorical(pisa_df[col], categories=order, ordered=True)

order_cat(math_related[:2])

After the ordering has been corrected

In [41]:
pisa_df[math_related[1]].dtype

CategoricalDtype(categories=['Strongly disagree', 'Disagree', 'Agree', 'Strongly agree'], ordered=True)

#### Summary analysis of the dataset

In [42]:
pisa_df.describe()

,intl_grade,stud_yob,skip_class,father_earning_pct,mother_earning_pct,math_behaviour,teacher_behaviour,teacher_support,math_score,read_score,science_score
count,200000.000000,200000.000000,196481.000000,169195.000000,157717.000000,128231.000000,128395.000000,129264.000000,200000.000000,200000.000000,200000.000000
mean,9.724060,1996.084215,1.254223,43.876301,45.086883,0.137802,0.140403,0.180976,471.075796,474.879066,480.629329
std,2.229471,0.277711,0.573415,21.884619,21.995521,1.030937,1.030047,1.003438,101.449512,102.002925,101.774531
min,7.000000,1996.000000,1.000000,11.010000,11.010000,-2.140200,-2.391900,-2.920000,19.792800,0.083400,6.844500
25%,9.000000,1996.000000,1.000000,25.710000,25.040000,-0.456700,-0.594500,-0.470000,397.655400,407.008400,409.399500
50%,10.000000,1996.000000,1.000000,36.350000,43.330000,0.217100,0.250900,0.110000,470.252400,479.131800,481.853800
75%,10.000000,1996.000000,1.000000,65.010000,65.420000,0.811000,0.764400,0.970000,543.316700,546.908300,553.002600
max,96.000000,1997.000000,4.000000,88.960000,88.960000,4.424900,2.629500,1.680000,896.798600,875.705800,845.897100

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.


> **Rubric Tip**: The project (Parts I alone) should have at least 15 visualizations distributed over univariate, bivariate, and multivariate plots to explore many relationships in the data set.  Use reasoning to justify the flow of the exploration.



>**Rubric Tip**: Use the Question-Visualization-Observations framework  throughout the exploration. This framework involves **asking a question from the data, creating a visualization to find answers, and then recording observations after each visualisation.**



>**Rubric Tip**: Visualizations should depict the data appropriately so that the plots are easily interpretable. You should choose an appropriate plot type, data encodings, and formatting as needed. The formatting may include setting/adding the title, labels, legend, and comments. Also, do not overplot or incorrectly plot ordinal data.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

## Conclusions
>You can write a summary of the main findings and reflect on the steps taken during the data exploration.


> Remove all Tips mentioned above, before you convert this notebook to PDF/HTML


> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML or PDF` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!